<a href="https://colab.research.google.com/github/romanowiczadam/data-sb/blob/master/kurs_datascience/02_Pandas/01_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4.1.Pandas_Series

In [2]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.3'

In [5]:
# obiekt typu Series
# rozni sie od np.array tym ,ze ma przypisany domysleni indeks do kazdego wiersza
s = pd.Series(data = [3, 5, 6, 3])
print(s)
# możemy podac sami indeks oraz naze
s = pd.Series(data = [3, 5, 6, 3], index = ['a', 'b', 'c', 'd'], name = 'sample')
print(s)

0    3
1    5
2    6
3    3
dtype: int64
a    3
b    5
c    6
d    3
dtype: int64

In [7]:
# wstawianie braku wartosci w jednym miejscu
s = pd.Series(data = [3, np.nan, 6, 3], index = ['a', 'b', 'c', 'd'], name = 'sample')
print(s)
# moze sie przydac np przy liczeniu sredniej, zeby nie zastepowac braku np zerem

a    3.0
b    NaN
c    6.0
d    3.0
Name: sample, dtype: float64

In [8]:
s = pd.Series(data = [True, False, False], index = ['a', 'b', 'c'], name = 'sample_bool')
print(s)

a     True
b    False
c    False
Name: sample_bool, dtype: bool

In [13]:
# wstawienie do indeksu daty
s_2 = pd.Series(data = np.arange(10,20), index = pd.date_range(start = '20200112', periods = 10))
print(s_2)
# wyswietlanie indexu
print(s_2.index)

2020-01-12    10
2020-01-13    11
2020-01-14    12
2020-01-15    13
2020-01-16    14
2020-01-17    15
2020-01-18    16
2020-01-19    17
2020-01-20    18
2020-01-21    19
Freq: D, dtype: int64
DatetimeIndex(['2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17', '2020-01-18', '2020-01-19',
               '2020-01-20', '2020-01-21'],
              dtype='datetime64[ns]', freq='D')

In [14]:
# obiekt typu Series z nazwami
s_3 = pd.Series(data = ['python', 'java', 'sql'], name = 'languages')
print(s_3)
# wyswietlanie indexu
print(s_3.index)

0    python
1      java
2       sql
Name: languages, dtype: object
RangeIndex(start=0, stop=3, step=1)

In [15]:
# generowanie wartości z obiektu Series
print(s_3.values)

['python' 'java' 'sql']

In [16]:
# rodzaj danych
print(s_2.dtype)
print(s_3.dtype)

int64
object

In [17]:
# kształt danych
print(s_3.shape)

(3,)

In [20]:
# wycianie ze słownika
price = pd.Series(data={'Apple':200, 'CD Project':60, 'Amz':250})
print(price)

Apple         200
CD Project     60
Amz           250
dtype: int64

In [23]:
# wycinanie pojedynczej wartości
print(price['CD Project'])
# lub
print(price[1])

60
60

In [29]:
# użyteczne funkcje
# ilość elementów (kluczy z wartosciami
print(price.count())
# ile razy wystąpiły poszczególne wartosci
print(price.value_counts())
# (nie wlicza wartosci NaN)
# ale w przypadku value_counts, żeby policzylo NaN można ustawić:
# print(price.value_counts(dropna = False))

3
60     1
250    1
200    1
dtype: int64
60     1
250    1
200    1
dtype: int64

In [34]:
# sumowaneiw wartości
print(price.sum())
# minimalna wartosc
print(price.min())
# maksymalna wartości
print(price.max())
# odchylenie standrdowe wartości
print(price.std())
# opis obiektu Series
print(price.describe())
# wyciągniecie najwiekszego obiektu
print(price.nlargest(1)) # można przekazac więcej
# wyciągniecie warosci najmniejszej
print(price.nsmallest(1)) # można przekazac więcej
print('---------')
# ranking poszczegolnych kluczy ( według wartości)
print(price.rank())
print('---------')
# sortowanie wartosci (po wartosciach)
print(price.sort_values())
# odwrtona kolejność
print(price.sort_values(ascending = False))
print('---------')
print(price.sort_values(ascending = False))

510
60
250
98.48857801796105
count      3.000000
mean     170.000000
std       98.488578
min       60.000000
25%      130.000000
50%      200.000000
75%      225.000000
max      250.000000
dtype: float64
Amz    250
dtype: int64
CD Project    60
dtype: int64
---------
Apple         2.0
CD Project    1.0
Amz           3.0
dtype: float64
---------
CD Project     60
Apple         200
Amz           250
dtype: int64
Amz           250
Apple         200
CD Project     60
dtype: int64

In [35]:
# metoda apply
# metoda apply przyjmuje za argumenty dana funkcje
# przeliczenie na zlote (z dolarow)
price_d = price.apply(lambda x: x * 4.1 )
print(price_d)
# bez przypisania dane nie zostana zapisane

Apple          820.0
CD Project     246.0
Amz           1025.0
dtype: float64

In [0]:
# METOD

# 4.2.Pandas_data_frame

In [4]:
# Tworzenie obiektu DataFrame
df = pd.DataFrame(data = [12, 45, 21])
print(df)

    0
0  12
1  45
2  21

In [9]:
df = pd.DataFrame(data = [12, 45, 21], index = ['first', 'second', 'third'], columns = ['col_1'])
print(df)

        col_1
first      12
second     45
third      21

In [3]:
df = pd.DataFrame(data = {'WIG20':  ['PKN Orlen', 'PKOBP'],
                          'mWIG40': ['Amica', 'Playway']})
print(df)

       WIG20   mWIG40
0  PKN Orlen    Amica
1      PKOBP  Playway

In [6]:
#budowa prostego obiektu typu DataFrame
df = pd.DataFrame(data = [[12, 45, 21],[11, 87, 54]], index = ['first', 'second'], columns = ['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      12     45     21
second     11     87     54

In [9]:
# wycinanie nazw kolumn
df.columns
c = df.columns
print(c)
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [11]:
# wycinanie nazw wierszów
df.index

TypeError: ignored

In [12]:
# aby dostać sie do dnych z obiektu DataFrame można zastosowac
# funkcje values, która zwraca obiekt typu nd.array
df.values

array([[12, 45, 21],
       [11, 87, 54]])

In [14]:
# informacje na temat obiektu
df.info()
# opis obiektu dta frame
print('----------')
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes
----------

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   11.500000  66.000000  37.500000
std     0.707107  29.698485  23.334524
min    11.000000  45.000000  21.000000
25%    11.250000  55.500000  29.250000
50%    11.500000  66.000000  37.500000
75%    11.750000  76.500000  45.750000
max    12.000000  87.000000  54.000000

In [19]:
# selekcja danych kolumn
print(df)
print('------')
# wycinanie kolumny
print(df['col_1'])
# typ wycietych danych
print(type(df['col_1'])) # Series
# aby otrzymać obiekt DataFrame z wyciecia
print(df[['col_1']])
print(type(df[['col_1']]))

        col_1  col_2  col_3
first      12     45     21
second     11     87     54
------
first     12
second    11
Name: col_1, dtype: int64
<class 'pandas.core.series.Series'>
        col_1
first      12
second     11
<class 'pandas.core.frame.DataFrame'>

In [28]:
# przypisanie nowych naz kolumn
df.columns = ['a', 'b', 'c']
print(df)
# drugi sposób wycinania kolumny
print(df.a)
print(type(df.a))
# ten sposob nie zawsze bedzie praktyczny
# bo gdyby wystapila spacja w nazwie kolumny
# to nie wytniemy kolumny - chyba, ze użylibyśmy podkreślnika
# za pomocą tej metody nie stworzymy nowej kolumny
# z kolei za pomocą pierwszej metody możemy stworzyć nową kolumnę
df['d'] = df['c'] + df['b']

         a   b   c    d
first   12  45  21   66
second  11  87  54  141
first     12
second    11
Name: a, dtype: int64
<class 'pandas.core.series.Series'>

In [29]:
print(df)

         a   b   c    d
first   12  45  21   66
second  11  87  54  141

In [38]:
print(df)
# wycinanie wierszy
# metoda loc pozwala wycinac wiersz po nazwie
print(df.loc['first'])
# jesli chcemy wyciąć po numerze wiersza stosujemy iloc
print(df.iloc[0])
# wycinanie kolumny
print('----------')
print(df.loc[:, 'b'])
# wycinanie konkretnego elementu z danej kolumny i wiersza
print('------------')
print(df.loc['first', 'a'])
# lub
print(df.iloc[0, 0])

         a   b   c    d
first   12  45  21   66
second  11  87  54  141
a    12
b    45
c    21
d    66
Name: first, dtype: int64
a    12
b    45
c    21
d    66
Name: first, dtype: int64
----------
first     45
second    87
Name: b, dtype: int64
------------
12
12